/* #region Global */
*, *::before, *::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}
p{
    margin: 0;
}
ol,
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img{
    display: block;
    height:auto;
    max-width: 100%;;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    letter-spacing: 0.32px;
    color:#2E2F42;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
h3{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.4px;
    line-height: 1.2;
}
a{
    text-decoration: none;
}
ul, ol{
    list-style-type: none;
}
.container{
  max-width: 1158px;
  padding: 0 15px;  
  margin: 0 auto;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.72px;
    margin: 0 auto 72px;
}
/* #endregion*/

/* #region Header */
.header {
    border-bottom: 1px solid #e7e9fc;
}
.header > .container{
    display: flex;
    align-items: center;
    height: 72px;
}
.logo {
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    color:#4D5AE5;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.16;
    letter-spacing: 0.54px;
    margin-right: 76px;
}
.header-accent {
    color:#2E2F42;
}
.nav-list{
    display: flex;
    gap: 40px;
    align-items: stretch;
    height: 100%;
}
.navigation {
    font-weight: 500;
    color:#2E2F42;
    height: 100%;
}
.nav-item{
    height: 100%;
}
.nav-ref{
    font-weight: 500;
    display: block;
    padding: 24px 0;
    height: 100%;
    color:#2E2F42;
}
.nav-ref:hover, .nav-ref:focus{
    color:#404BBF;
}
.address{
    margin-left: auto;
}
.address-list{
    display: flex;
    gap: 40px;
    margin-left: auto;
}
.contacts {
    color: #434455;
    font-style: normal;
    display: block;
}
.contacts:focus, .contacts:hover{
    color:#404BBF;
}
/* #endregion */

/* #region Hero */
.hero-section {
    background-color: #2E2F42;
    padding: 188px 0;
}
.hero-section > .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-title {
    color:#FFFFFF;
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
    width: 496px;
    margin-bottom: 48px;
}
.hero-button {
    background-color: #4D5AE5;
    color:#FFFFFF;
    font-weight: 500;
    letter-spacing: 0.64px;
    text-align: center;
    cursor: pointer;
    display: block;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
}
.hero-button:hover, .hero-button:focus{
    background-color: #404BBF;
    border: none;
}
/* #endregion */

/* #region Features */
.features-section {
    padding: 120px 0;
}

.visually-hidden,
.read-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature-list{
  display: flex;
  gap: 24px;
}
.feature-item{
    width: 264px;
}
.feature-name {
    margin-bottom: 8px;
}
.features-text {
    color:#434455;
}
/* #endregion */

/* #region Team */
.team-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.team-list{
    display: flex;
    gap:24px;
    justify-content: space-between;
    /*  */
}
.team-item {
    background-color: #FFFFFF;
    width: 264px;
    border-radius: 0 0 4px 4px;
    border-top: none;
}
.team-img{

}
.team-div{
  padding: 32px 16px;
}
.team-name {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}
.team-prof {
    text-align: center;
    color:#434455;
}
/* #endregion */

/* #region Portfolio */
.portfolio-section {
    padding: 120px 0;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}
.portfolio-item{
    width: calc((100% - 24px * 2)/3);
}
.port-img{
}
.portfolio-div{
  padding: 32px 16px;
  border :1px solid #e7e9fc;
}
.portfolio-name {
    margin-bottom: 8px;
}
.portfolio-text {
    color: #434455;
}
/* #endregion */

/* #region Footer */
.footer {
    padding: 100px 0;
    background-color: #2E2F42;
}

.footer-container > .logo {
    display: block;
    margin-bottom: 16px;
}
.footer-container{
    /* margin: 100px auto 100px; */
}
.footer-accent {
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    color: #F4F4FD;
    line-height: 1.16;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.54px;
}
.slogan {
    color: #F4F4FD;
    width: 264px;
}
/* #endregion */