body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    letter-spacing: 0.32px;
    color:#2E2F42;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
h3{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.4px;
    line-height: 1.2;
}
a{
    text-decoration: none;
}
ul, ol{
    list-style-type: none;
}

.logo{
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    color:#4D5AE5;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.16;
    letter-spacing: 0.54px;
}
.logo-accent{
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    color:#2E2F42;
    line-height: 1.16;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.54px;
}
.logo-accent2{
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    color: #F4F4FD;
    line-height: 1.16;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.54px;
}
.navigation{
    color:#2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.navigation:hover, .navigation:focus{
    color:#404BBF;
}
.contacts{
    font-weight: 400;
    color: #434455;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.contacts:focus, .contacts:hover{
    color:#404BBF;
}
.main-section{
    background-color: #2E2F42;
}
.page-title{
    color:#FFFFFF;
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
}
.order{
    background-color: #4D5AE5;
    color:#FFFFFF;
    font-weight: 500;
    letter-spacing: 0.64px;
    line-height: 1.5;
    text-align: center;
    font-family: 'Roboto';
    cursor: pointer;
}
.order:hover, .order:focus{
    background-color: #404BBF;
}

.features-text{
 font-size: 16px;
 font-weight: 400;
 line-height: 1.5;
 letter-spacing: 0.32px;
 color:#434455
}
.team-section{
    background-color: #F4F4FD;
}
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111111111;
    text-align: center;
    letter-spacing: 0.72px;
}
.workers{
    background-color: #FFFFFF;
}
.workers > h3{
 font-size: 20px;
 font-weight: 500;
 text-align: center;
 line-height: 1.2;
 letter-spacing: 0.4px;
}
.workers > .profession{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    color:#434455;
}

.portfolio-section{
    /* background-color: #E7E9FC; */
}

.portfolio-text{
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.slogan{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.32px;
}

.footer{
    background-color: #2E2F42;
}