/* #region Global */
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}
p{
    margin: 0;
}
ol,
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img{
    display: block;
    height:auto;
    max-width: 100%;;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    letter-spacing: 0.32px;
    color:#2E2F42;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
h3{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.4px;
    line-height: 1.2;
}
a{
    text-decoration: none;
}
ul, ol{
    list-style-type: none;
}
.container{
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    border:2px solid tomato
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.72px;
}
/* #endregion*/

/* #region Header */
.header {
}
.header > .container{
    display: flex;
    padding: 24px;
}
.logo {
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    color:#4D5AE5;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.16;
    letter-spacing: 0.54px;
    margin-right: 76px;
}
.header-accent {
    color:#2E2F42;
}
.nav-list{
    display: flex;
    gap: 40px;
}
.navigation {
    font-weight: 500;
    color:#2E2F42;
}
.navigation:hover, .navigation:focus{
    color:#404BBF;
}
.address{
    margin-left: auto;
}
.address-list{
    display: flex;
    gap: 40px;
    margin-left: auto;
}
.contacts {
    color: #434455;
    font-style: normal;
}
.contacts:focus, .contacts:hover{
    color:#404BBF;
}
/* #endregion */

/* #region Hero */
.hero-section {
    background-color: #2E2F42;
}
.page-title {
    color:#FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
    width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}
.hero-button {
    background-color: #4D5AE5;
    color:#FFFFFF;
    font-weight: 500;
    letter-spacing: 0.64px;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}
.order:hover, .order:focus{
    background-color: #404BBF;
}
/* #endregion */

/* #region Features */
.features-section {
}

.visually-hidden,
.read-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.fearure-list{
 width: 264px;
}
.feature-name {
    margin-bottom: 8px;
}
.features-text {
    color:#434455;
}
/* #endregion */

/* #region Team */
.team-section {
    background-color: #F4F4FD;
}
.team-list {
    background-color: #FFFFFF;
    width: 264px;
}
.team-img{
margin-bottom: 32px;
}
.team-div{
padding-bottom: 32px;
}
.team-name {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}
.team-prof {
    text-align: center;
    color:#434455;
}
/* #endregion */

/* #region Portfolio */
.portfolio-section {
}
.portfolio-list {
    width: 360px;
}
.portfolio-name {
}
.portfolio-text {
    color: #434455;
}
/* #endregion */

/* #region Footer */
.footer {
    background-color: #2E2F42;
}
.footer-accent {
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    color: #F4F4FD;
    line-height: 1.16;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.54px;
}
.slogan {
    color: #F4F4FD;
}
/* #endregion */