/* Global */
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}
p{
    margin: 0;
}
ol,
ul{
  margin: 0;
  padding-left: 0;
}

img{
    display: block;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    letter-spacing: 0.32px;
    color:#2E2F42;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
h3{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.4px;
    line-height: 1.2;
}
a{
    text-decoration: none;
}
ul, ol{
    list-style-type: none;
}
/* Header */
.header {
}
.logo {
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    color:#4D5AE5;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.16;
    letter-spacing: 0.54px;
}
.header-accent {
    color:#2E2F42;
}
.navigation {
    font-weight: 500;
    color:#2E2F42;
}
.navigation:hover, .navigation:focus{
    color:#404BBF;
}
.contacts {
    color: #434455;
    font-style: normal;
}
.contacts:focus, .contacts:hover{
    color:#404BBF;
}
/* Hero */
.hero-section {
    background-color: #2E2F42;
}
.page-title {
    color:#FFFFFF;
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
}
.hero-button {
    background-color: #4D5AE5;
    color:#FFFFFF;
    font-weight: 500;
    letter-spacing: 0.64px;
    text-align: center;
    cursor: pointer;
}
.order:hover, .order:focus{
    background-color: #404BBF;
}
/* Features */
.features-section {
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.72px;
}
.feature-name {
}
.features-text {
    color:#434455;
}
/* Team */
.team-section {
    background-color: #F4F4FD;
}
.team-list {
    background-color: #FFFFFF;
}
.team-name {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.4px;
}
.team-prof {
    text-align: center;
    color:#434455;
}
/* Portfolio */
.portfolio-section {
}
.portfolio-list {
}
.portfolio-name {
}
.portfolio-text {
    color: #434455;
}
/* Footer */
.footer {
    background-color: #2E2F42;
}
.footer-accent {
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    color: #F4F4FD;
    line-height: 1.16;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.54px;
}
.slogan {
    color: #F4F4FD;
}